@import "src/app/core/style/colors";

:host {
  margin: 5px;
}

mat-card {
  width: 90%;
}

.card {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
}
